*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
    width: 1280px;
    margin: auto;
    font-family: 'Merriweather', serif;
}

nav {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.nav-row {
    height: 60px;
    list-style: none;
    position: relative;
    margin-left: -160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 2;

}

#nav-pic {
    height: 40px;
    width: 40px;
    margin: 10px;
    background-image: url(./images/bent-creek-logo.png);
    background-size: cover;
}

.nav-item {
    padding: 0 20px;
}

.nav-item a {
    color: #2B2F26;
}

.nav-active a {
    color: #968772;
}

.nav-item a:hover {
    color: #CD5D67;
}

.nav-item a:active {
    color: #968772;
}

#main-page-1 {
    background-color: #F2F1E8;
    padding: 60px 0 0 0;
}

#main-page-2 {
    background-color: #e8e7de;
    padding: 60px 190px;
}

.page-header {
    height: 160px;
    text-align: center;
}

#h1-page-1 {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    font-weight: 400;
    margin-top: 40px;
}

#h2-page-1 {
    font-family: 'Merriweather', serif;
    font-size: 35px;
    font-weight: 300;
    padding-top: 10px;
}

.p-page-2 {
    font-size: 20px;
    line-height: 180%;
    padding-bottom: 40px;
}

#header-page-2 {
    margin: 25px auto;
    height: 160px;
}

.h1-page-2 {
    font-weight: 500;
    font-size: 70px;
    text-align: center;
    padding: 30px;
}

.h2-page-2 {
    font-family: 'Merriweather', serif;
    font-size: 65px;
    font-weight: 400;
    color: white;
    position:relative;
    top: 100px;
    text-align: center;
}

.h3-page-2 {
    font-size: 30px;
    font-weight: 300;
    padding: 20px 0;
}

blockquote {
    padding: 6px 25px;
    margin: 0 0 20px 0;
    border-left: 2px solid black;
    font-style: italic;
    font-size: 20px;
    line-height: 180%;
}

.parallax {
    background-image: url(./images/background-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 1280px;
    position: relative;
    left: -190px;
    margin-bottom: 20px;
}

#birdhouse {
    height: 120px;
    width: 170px;
    float: left;
    margin: 0 30px 20px 0;
}

#a-facilities {
    color: #968772;
}

#a-facilities:hover {
    color: #967343;
}

#facilities {
    position: relative;
    top: -50px;
}

#background-1 {
    height: 120px;
    width: 170px;
    float: bottom;
    margin: 0 30px 20px 0;
}

table {
    border-collapse: collapse;
}

table, th, td {
    padding: 20px;
    border: 1px solid black;
    font-weight: 580;
    font-size: 1.05em;
}

tr:nth-child(even) {
    background-color: #F2EADC;
}

#paragraph-wrapper {
    width: 900px;
    display: flex;
    flex-direction: row;
}

#before-aside {
    width: 80vw;
}

#aside-wrapper {
    font-size: 10px;
    padding-left: 20px;
    width: 20vw;
}

#aside-text{
    width: 95%;
    font-size: 14px;
}

footer {
    color: white;
    background-color: black;
    padding: 25px 0 25px 20px;
    margin: auto;
    height: 80px;
}

#newsletter {
    background-image: url(./images/background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#newsletter-box {
    height: 60%;
    width: 50%;
    margin: auto;
    padding: 30px;
    background-color: white;
    position: relative;
    top: 20vh;
}

#h2-page-3 {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    
}

#h3-page-3 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

#nameInput {
    font-size: 20px;
    border-bottom: 2px solid #968772;
    width: 100%;
}

#emailInput {
    font-size: 20px;
    border-bottom: 2px solid #968772;
    width: 100%;
}

#button-wrapper {
    text-align: center;
    margin-top: 30px;
}
button {
    font-size: 20px;
    padding: 15px 25px;
    color: #F2F1E8;
    background-color: #968772;
    margin: 0 auto;
}

button:hover {
    color: #FFFFFF;
    background-color: #967343;
}

input:focus {
    border-bottom: 2px solid #967343;
}

#product-row-1 {
    width: 1280px;
    padding: 15px 15px 0 15px;
    display: flex;
    flex-flow: row no-wrap;
}

#product-row-2 {
    width: 1280px;
    padding: 0 15px 15px 15px;
    display: flex;
    flex-flow: row no-wrap;
}

.product {
    width: 20%;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}

.product-name-1 {
    display: inline-block;
    position: relative;
    bottom: -290px;
}

.product-name-2 {
    display: inline-block;
    position: relative;
    bottom: -190px;
}

.product-name-1 h4 {
    color: #F2F1E8;
    background-color: black;
    padding: 15px;
    display: inline-block;
}

.product-name-2 h4 {
    color: white;
    background-color: black;
    padding: 15px;
    display: inline-block;
}

#product-1 {
    background-image: url(./images/product-1.jpg);
    height: 350px;
    flex-grow: 2;
}

#product-2 {
    background-image: url(./images/product-2.jpg);
    background-position: center;
    height: 350px;
}

#product-3 {
    background-image: url(./images/product-3.jpg);
    height: 350px;
}

#product-4 {
    background-image: url(./images/product-4.jpg);
    height: 250px;
}

#product-5 {
    background-image: url(./images/product-5.jpg);
    height: 250px;
}

#product-6 {
    background-image: url(./images/product-6.jpg);
    height: 250px;
    flex-grow: 2;
}

#product-7 {
    background-image: url(./images/product-7.jpg);
    height: 250px;
}