*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
    width: 1280px;
    margin: auto;
    /*background-color: #e8e7de;*/
    font-family: 'Merriweather', serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.nav-row {
    height: 50px;
    background-color: #FFFFFF;
    list-style: none;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-img {
    align-self: flex-start;
    align-items: flex-start;
}

#nav-pic {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-image: url(../images/bent-creek-logo.png);
    background-size: cover;
}

.nav-item {
    padding: 0px 20px;
}

.nav-item a {
    /*text-decoration: none;*/
    color: #2B2F26;
    
}

.nav-item a:hover {
    color: #CD5D67;
}

.nav-item a:active {
    color: #968772;
}
main {
    background-color: #e8e7de;
    padding: 10px 190px;
}

header {
    margin: auto;
    height: 200px;
}

h1 {
    font-weight: 500;
    font-size: 70px;
    text-align: center;
    padding: 30px;
}

h2 {
    font-size: 40px;
    font-weight: 400;
}

h3 {
    font-size: 30px;
    font-weight: 300;
    padding: 20px 0;
}

p {
    font-size: 20px;
    line-height: 180%;
}

#birdhouse {
    height: 120px;
    width: 170px;
    float: left;
    margin: 0 30px 20px 0;
}

#facilities {
    color: #968772;
}

a:hover {
    color: white;
}
blockquote {
    padding: 18px;
    margin: 20px 0px;
    border-left: 2px solid black;
    font-style: italic;
}

#grow {
    background-image: url(../images/background-3.jpg);
    height: 300px;
    width: 1280px;
    background-size: cover;
    text-align: center;
    vertical-align: center;
}

#background-1 {
    height: 120px;
    width: 170px;
    float: bottom;
    margin: 0 30px 20px 0;
}

table {
    border-collapse: collapse;
}

table, th, td {
    padding: 20px;
    border: 1px solid black;

}

tr:nth-child(even) {
    background-color: #967343;
}

#paragraph-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

#aside-wraper {
    font-size: 10px;
}
#aside-text{
    width: 40%;
    font-size: 15px;
}

#above-aside {
    width: 70%;
    flex-grow: 3;
}


